/* RESETTING PAGE CSS TO DEFAULT */
@import 'font.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 62.5%;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    box-sizing: border-box;
}

